/*top right bottom left*/
@font-face {
	font-family: pricedown;
	src: url(../fonts/pricedown.ttf);
}

@media (max-width:599px) {
	.coolheader {
		position: relative !important;
	}

	.content_wrapper {
		padding-top: 0px !important;
	}

	.menu {
		width: unset !important;
		margin: inherit !important;
	}
}

.coolheader {
	background-color: #e9f0e9;
	margin-top: 0px;
	width: 100%;
	position: fixed;
}

#headercontent {
	height: 170px;
	background-image: url(../img/static/header.png);
	background-size: auto 170px;
	background-repeat: no-repeat;
		overflow: hidden;
}

	#headercontent > h1 {
		font-family: pricedown;
		font-size: 60px;
		margin-top:30px;
		margin-left: 400px;
		position:relative;
	}

	#headercontent > p {
		font-family: pricedown;
		font-size: 40px;
		margin-left: 450px;
	}

nav {
	background-color: Highlight;
}

.menu {
	width: 500px;
	margin: 0 auto;
}

	.menu > li {
		display: inline-block;
		padding: 5px 0px;
		width: 100px;
		text-align: center;
	}

		.menu > li:hover {
			background-color: darkorange;
		}

/*main*/

.content_wrapper {
	padding-top: 200px;
}