/*top right bottom left*/
@media (min-width:600px) {
	.coolheader {
		position: fixed;
	}

	nav {
		position: fixed;
	}

	.coolmenu {
		margin-top: 8em;
	}

	ul.coolmenu {
		position: fixed;
	}

	.content_wrapper {
		padding-top: 10em;
	}
}

li.coolmenuitem:hover {
	background-color: darkorange;
}

li.coolmenuitem {
	display: inline-table;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.3em;
	height: 2em;
}

.coolheader {
	background-image: url(../img/gtav_header1.jpg);
	background-size: contain;
	background-repeat:no-repeat;
	background-color:#e9f0e9;
	margin-top: 0px;
	width: 100%;
	height: 8em;
}

ul.coolmenu {
	display: inline;
	padding-left: 0px;
}

nav {
	min-height: 2em;
}

.coolmenu {
	height: 2em;
	background-color: Highlight;
	position: relative;
	width: 100%;
	overflow: hidden;
}

/*main*/

main {
	width: 90%;
	padding-left: 10%;
}

.span3 {
	display: inline-block;
}

article {
	width: 30%;
	float: left;
}